Repository ZTMowrer947/fsjs-course-directory-clients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

.lintstagedrc.json:

{
  "*.vue": ["prettier --cache --write", "eslint --cache --fix", "stylelint --cache --fix"],
  "*.css": ["prettier --cache --write", "stylelint --cache --fix"],
  "*.{ts,js,cjs,mjs,cts,mts,jsx,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "*.{json,html,md}": ["prettier --cache --write"]
}

Add "redirect if signed in" guard for signup page
  cypress/e2e/sign-up.cy.ts
  src/routes.ts
Due: prettier --cache --write, eslint --cache --fix

Add CourseUpsertModel type
  src/entities/course.ts
Due: prettier --cache --write, eslint --cache --fix

Add basic course create/update form
  src/components/CourseUpsertForm.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Stub course creation page
  src/routes.ts
  src/routes/courses/create/CreatePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add dummy submit handler for creation form
  src/components/CourseUpsertForm.vue
  src/routes/courses/create/CreatePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Tweak main layout styling
  src/components/PrimaryLayout.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Tweak course creation form styling
  src/components/CourseUpsertForm.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Style inputs and buttons for course form
  src/components/CourseUpsertForm.vue
  src/routes/courses/create/CreatePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Implement course creation
  src/routes/courses/create/CreatePage.vue
  src/routes/courses/queries.ts
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add navigation guard for auth-required routes
  src/main.ts
  src/routes.ts
Due: prettier --cache --write, eslint --cache --fix

Add basic course deletion page
  src/routes.ts
  src/routes/courses/[id]/delete/DeletePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor course fetch query into composable
  src/composables/useCourseQuery.ts
Due: prettier --cache --write, eslint --cache --fix

Refactor DetailPage to use composable
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add course id composable
  src/composables/useCourseId.ts
Due: prettier --cache --write, eslint --cache --fix

Refactor DetailPage to use course id composable
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor authed user query into composable
  src/composables/useAuthedUser.ts
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add stub course update page
  src/routes.ts
  src/routes/courses/[id]/update/UpdatePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add @std/encoding package from JSR
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Refactor credential manager to use @std/encoding methods
  src/lib/credential.ts
Due: prettier --cache --write, eslint --cache --fix

Refactor router links to use route names
  src/components/PrimaryHeader.vue
  src/routes/(auth)/signin/SignInPage.vue
  src/routes/(auth)/signup/SignUpPage.vue
  src/routes/courses/CourseList.vue
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add .trim to auth form v-models
  src/routes/(auth)/signin/SignInPage.vue
  src/routes/(auth)/signup/SignUpPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor single-course routes
  src/routes.ts
Due: prettier --cache --write, eslint --cache --fix

Refactor course list and singular queries
  src/composables/useCourseQuery.ts
  src/routes.ts
  src/routes/courses/ListPage.vue
  src/routes/courses/queries.ts
  src/routes/courses/queries/all.ts
  src/routes/courses/queries/single.ts
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Remove useCourseQuery composable
  src/composables/useCourseQuery.ts
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor auth queries
  src/components/PrimaryLayout.vue
  src/composables/useAuthedUser.ts
  src/main.ts
  src/routes/(auth)/queries.ts
  src/routes/(auth)/queries/byEncoded.ts
  src/routes/(auth)/queries/byStored.ts
  src/routes/(auth)/signin/SignInPage.vue
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Setup course update form
  src/routes/courses/[id]/update/UpdatePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add error classes
  src/entities/errors.ts
Due: prettier --cache --write, eslint --cache --fix

Implement course updating
  src/routes/courses/[id]/update/UpdatePage.vue
  src/routes/courses/queries/update.ts
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add delete mutation
  src/routes/courses/queries/delete.ts
Due: prettier --cache --write, eslint --cache --fix

Implement course deletion on delete page
  src/routes/courses/[id]/delete/DeletePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Enable "verbatimModuleSyntax" in tsconfig
  src/injectKeys.ts
  src/routes/courses/ListItem.vue
  src/routes/courses/[id]/DetailPage.vue
  src/routes/courses/queries/update.ts
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.cy.json
  tsconfig.node.json
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Upgrade vue-tsc and vite
  package.json
  pnpm-lock.yaml
  tsconfig.cy.json
Due: prettier --cache --write

Modify page routes to be lazily loaded
  src/routes.ts
Due: prettier --cache --write, eslint --cache --fix

Move entity creation functions into queries subdirs
  src/routes/(auth)/queries/create.ts
  src/routes/(auth)/signup/SignUpPage.vue
  src/routes/courses/create/CreatePage.vue
  src/routes/courses/queries/create.ts
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add neverthrow package
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Add ValidationError type
  src/entities/errors.ts
Due: prettier --cache --write, eslint --cache --fix

Add neverthrow helpers
  src/lib/result.ts
Due: prettier --cache --write, eslint --cache --fix

Add fetch-related error types
  src/entities/errors.ts
Due: prettier --cache --write, eslint --cache --fix

Add ResultAsync wrapper for fetch
  src/lib/result.ts
Due: prettier --cache --write, eslint --cache --fix

Add json result wrapper
  src/entities/errors.ts
  src/lib/result.ts
  src/routes/courses/queries/all.ts
Due: prettier --cache --write, eslint --cache --fix
