Repository ZTMowrer947/fsjs-course-directory-clients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

.lintstagedrc.json:

{
  "*.vue": ["prettier --cache --write", "eslint --cache --fix", "stylelint --cache --fix"],
  "*.css": ["prettier --cache --write", "stylelint --cache --fix"],
  "*.{ts,js,cjs,mjs,cts,mts,jsx,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "*.{json,html,md}": ["prettier --cache --write"]
}

Add component for rendering Markdown
  src/components/MarkdownRenderer.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Rename CourseDetail component to CourseDetails
  src/routes/courses/[id]/CourseDetails.vue
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add test for CourseDetails component
  cypress/component/CourseDetails.cy.tsx
Due: prettier --cache --write, eslint --cache --fix

Add author attribution to CourseDetails
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add course description with Markdown to CourseDetails
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Tweak styling of CourseDetails
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add second CourseDetails test for optional course props
  cypress/component/CourseDetails.cy.tsx
Due: prettier --cache --write, eslint --cache --fix

Update CourseDetails to pass new test
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add basic signin page
  src/routes.ts
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor TestLayout component for reuse in component tests
  cypress/component/ListItem.cy.tsx
  cypress/component/TestLayout.tsx
Due: prettier --cache --write, eslint --cache --fix

Add basic user signin query
  src/routes/(auth)/queries.ts
  src/routes/(auth)/queryKeys.ts
Due: prettier --cache --write, eslint --cache --fix

Add js-cookie package
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Update signin submit handler to test credentials
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add form and text plugins to tailwindcss
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: prettier --cache --write, eslint --cache --fix

Adjust signin form styling
  src/App.vue
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add prose styling for markdown containers
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add credential manager interface and impl
  src/lib/credential.ts
Due: prettier --cache --write, eslint --cache --fix

Add injection key file for credential manager
  src/injectKeys.ts
Due: prettier --cache --write, eslint --cache --fix

Adjust Vite alias config
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --cache --write, eslint --cache --fix

Setup signin to persist valid credentials
  src/App.vue
  src/injectKeys.ts
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Move credential manager provide to app root
  src/App.vue
  src/main.ts
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add route guard for signin page
  src/routes.ts
Due: prettier --cache --write, eslint --cache --fix

Tweak MarkdownRenderer import pathing
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add PrimaryHeader and PrimaryLayout
  src/components/PrimaryHeader.vue
  src/components/PrimaryLayout.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add layout to list and detail pages
  src/routes/courses/ListPage.vue
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Update course-list E2E test to focus on content
  cypress/e2e/course-list.cy.ts
Due: prettier --cache --write, eslint --cache --fix

Add component tests for PrimaryHeader
  cypress/component/PrimaryHeader.cy.tsx
Due: prettier --cache --write, eslint --cache --fix

Add styling to PrimaryHeader
  src/components/PrimaryHeader.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add spacing between header and body
  src/components/PrimaryLayout.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add course nav to DetailPage
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Tweak CourseDetails styling
  src/routes/courses/[id]/CourseDetails.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor getUser query
  src/components/PrimaryLayout.vue
  src/routes/(auth)/queries.ts
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add auth logic for DetailPage
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Tweak header and signin styling
  src/components/PrimaryHeader.vue
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Tweak signin styling
  src/routes/(auth)/signin/SignInPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add basic signup page
  src/routes.ts
  src/routes/(auth)/signup/SignUpPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Style Signup page
  src/routes/(auth)/signup/SignUpPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add and implement basic user creation
  src/routes/(auth)/queries.ts
  src/routes/(auth)/signup/SignUpPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add E2E tests for signin page
  cypress/e2e/sign-in.cy.ts
Due: prettier --cache --write, eslint --cache --fix

Add test for successful signup flow
  cypress/e2e/sign-up.cy.ts
Due: prettier --cache --write, eslint --cache --fix
