Repository ZTMowrer947/fsjs-course-directory-clients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Configure Vite for TS path alises
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  vite.config.ts
Due: prettier --cache --write, eslint --cache --fix

Add and setup tailwind
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/style.css
  tailwind.config.js
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add vue-router package
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Setup Vue router
  src/App.vue
  src/main.ts
  src/pages/HomePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add course and user types
  src/entities/course.ts
  src/entities/user.ts
Due: prettier --cache --write, eslint --cache --fix

Setup basic ListPage
  src/App.vue
  src/main.ts
  src/routes/courses/ListPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Remove unused starter components and assets
  src/assets/vue.svg
  src/components/HelloWorld.vue
  src/pages/HomePage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add vue-query packages
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Setup vue query plugin
  src/main.ts
Due: prettier --cache --write, eslint --cache --fix

Add basic course list query
  src/routes/courses/ListPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add Cypress packages
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Add cypress shorthand script
  package.json
Due: prettier --cache --write

Setup Cypress for E2E and component testing
  cypress.config.mjs
  cypress/component/dummy.cy.ts
  cypress/cy.d.ts
  cypress/e2e/dummy.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
Due: prettier --cache --write, eslint --cache --fix

Add and setup Cypress testing library commands and ESLint plugin
  cypress/cy.d.ts
  cypress/support/commands.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

Add faker package
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Configure Cypress tests to understand ~ alias
  tsconfig.cy.json
  tsconfig.json
Due: prettier --cache --write

Create ListItem component test
  cypress/component/ListItem.cy.ts
Due: prettier --cache --write, eslint --cache --fix

Write ListItem to comply with test as-is
  src/routes/courses/ListItem.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Split route definitions into separate file
  src/main.ts
  src/routes.ts
Due: prettier --cache --write, eslint --cache --fix

Setup Cypress component tests for router
  cypress/support/component.ts
Due: prettier --cache --write, eslint --cache --fix

Update ListItem test to check link to corresponding course page
  cypress/component/ListItem.cy.ts
Due: prettier --cache --write, eslint --cache --fix

Update ListItem to conform to test
  src/routes/courses/ListItem.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Setup styles for Cypress component testing
  cypress/support/component.ts
Due: prettier --cache --write, eslint --cache --fix

Configure Vite to process Vue JSX
  package.json
  pnpm-lock.yaml
  tsconfig.cy.json
  vite.config.ts
Due: prettier --cache --write, eslint --cache --fix

Add styling wrapper component for ListItem test
  cypress/component/ListItem.cy.tsx
  tailwind.config.js
Due: prettier --cache --write, eslint --cache --fix

Tweak styling of ListItem component
  src/routes/courses/ListItem.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add CourseList component
  src/routes/courses/CourseList.vue
  src/routes/courses/ListPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add component test for CourseList
  cypress/component/CourseList.cy.tsx
Due: prettier --cache --write, eslint --cache --fix

Add styling for CourseList
  src/routes/courses/CourseList.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor CourseList test to also test for create link
  cypress/component/CourseList.cy.tsx
Due: prettier --cache --write, eslint --cache --fix

Add and style missing creation link in CourseList
  src/routes/courses/CourseList.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Refactor course list query
  src/routes/courses/ListPage.vue
  src/routes/courses/queries.ts
  src/routes/courses/queryKeys.ts
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Remove dummy component test
  cypress/component/dummy.cy.ts
Due: prettier --cache --write, eslint --cache --fix

Add test for course list page
  cypress/e2e/course-list.cy.ts
  cypress/e2e/dummy.cy.ts
Due: prettier --cache --write, eslint --cache --fix

Refactor TestLayout in ListItem component test
  cypress/component/ListItem.cy.tsx
Due: prettier --cache --write, eslint --cache --fix

Add basic CourseDetail component
  src/routes/courses/[id]/CourseDetail.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add single course query
  src/routes/courses/queries.ts
Due: prettier --cache --write, eslint --cache --fix

Add basic DetailPage
  src/routes.ts
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Modify DetailPage to render CourseDetail
  src/routes/courses/[id]/DetailPage.vue
Due: prettier --cache --write, eslint --cache --fix, stylelint --cache --fix

Add markdown-it package
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: (((any of: *.vue) or (any of: *.css)) or (any of: *.{ts,js,cjs,mjs,cts,mts,jsx,tsx})) or (any of: *.{json,html,md})
  eslint --cache --fix: (any of: *.vue) or (any of: *.{ts,js,cjs,mjs,cts,mts,jsx,tsx})
  stylelint --cache --fix: (any of: *.vue) or (any of: *.css)
