Repository ZTMowrer947/fullstack-coursedir: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.{ts,js,tsx,jsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": "stylelint --fix"
}

Reorganize pages into routes directory
  src/components/CourseLink.tsx
  src/lib/privateLoader.ts
  src/queries/getCourse.ts
  src/router.tsx
  src/routes/courses/:id/route.tsx
  src/routes/courses/:id/styles.module.css
  src/routes/courses/loader.ts
  src/routes/courses/route.tsx
  src/routes/courses/styles.module.css
  src/routes/signin/route.tsx
  src/routes/signin/styles.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Setup @ alias for src dir
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

Utilize new @ alias in project files
  src/api-mock/handlers/course.ts
  src/api-mock/handlers/user.ts
  src/components/CourseLink.tsx
  src/components/Header.tsx
  src/components/MainNav.tsx
  src/lib/authManager.ts
  src/queries/getCourse.ts
  src/queries/getUser.ts
  src/router.tsx
  src/routes/courses/:id/route.tsx
  src/routes/courses/loader.ts
  src/routes/courses/route.tsx
  src/routes/signin/route.tsx
Due: prettier --write, eslint --fix

Finally add user signout
  src/components/MainNav.tsx
Due: prettier --write, eslint --fix

Refactor individual course fetching to use loader pattern
  src/queries/getCourse.ts
  src/router.tsx
  src/routes/courses/:id/loader.ts
  src/routes/courses/:id/route.tsx
Due: prettier --write, eslint --fix

Consolidate loader query functions
  src/routes/courses/:id/loader.ts
  src/routes/courses/loader.ts
Due: prettier --write, eslint --fix

Move router setup file into routes dir
  src/App.tsx
  src/routes/router.tsx
Due: prettier --write, eslint --fix

Move main layout component into routes dir
  src/routes/layout.tsx
  src/routes/router.tsx
Due: prettier --write, eslint --fix

Add back retry to loader queries
  src/routes/courses/:id/loader.ts
  src/routes/courses/loader.ts
Due: prettier --write, eslint --fix

Refactor course/:id route into parent route
  src/routes/courses/:id/route.tsx
  src/routes/router.tsx
Due: prettier --write, eslint --fix

Reimplement header auth logic with route loader
  src/components/Header.tsx
  src/components/MainNav.tsx
  src/lib/privateLoader.ts
  src/routes/loader.ts
  src/routes/router.tsx
Due: prettier --write, eslint --fix

Re-implement signin page
  src/lib/authManager.ts
  src/routes/layout.tsx
  src/routes/loader.ts
  src/routes/router.tsx
  src/routes/signin/route.tsx
Due: prettier --write, eslint --fix

Re-implement signout functionality
  src/components/Header.tsx
  src/routes/layout.tsx
Due: prettier --write, eslint --fix

Memoize auth utility context
  src/routes/layout.tsx
Due: prettier --write, eslint --fix

Stub out signup page
  src/form.module.css
  src/routes/router.tsx
  src/routes/signin/route.tsx
  src/routes/signin/styles.module.css
  src/routes/signup/route.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add client-side form validation to signup page
  src/routes/signup/route.tsx
Due: prettier --write, eslint --fix

Implement user creation in mock API
  package.json
  pnpm-lock.yaml
  src/api-mock/handlers/user.ts
  src/api-mock/mockDb.ts
Due: prettier --write, eslint --fix

Fully implement user signup
  src/routes/router.tsx
  src/routes/signup/action.ts
  src/routes/signup/route.tsx
Due: prettier --write, eslint --fix

Add update and delete links to CourseDetail page
  src/routes/courses/:id/route.tsx
Due: prettier --write, eslint --fix

Remove redundant getUser query
  src/components/MainNav.tsx
  src/queries/getUser.ts
Due: prettier --write, eslint --fix

Copy markup into new dir
  .lintstagedrc.json
  .stylelintignore
  v2-markup/course-detail.html
  v2-markup/create-course.html
  v2-markup/error.html
  v2-markup/forbidden.html
  v2-markup/index.html
  v2-markup/not-found.html
  v2-markup/sign-in.html
  v2-markup/sign-up.html
  v2-markup/styles/shared.css
  v2-markup/update-course.html
Due: prettier --write, stylelint --fix

Add tailwind to v2 markup
  v2-markup/index.html
  v2-markup/styles/shared.css
Due: stylelint --fix

Tweak styling for index page
  tailwind.config.js
  v2-markup/index.html
  v2-markup/styles/shared.css
Due: prettier --write, eslint --fix, stylelint --fix

Remove -- from class names
  v2-markup/index.html
  v2-markup/styles/shared.css
Due: stylelint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add vitest
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add msw
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add course and user entities
  src/entities/course.ts
  src/entities/user.ts
Due: prettier --write, eslint --fix

Setup mock service worker
  package.json
  public/mockServiceWorker.js
Due: prettier --write, eslint --fix

Setup app to initialize MSW in dev mode
  src/main.tsx
  src/mocks/api/browser.ts
  src/mocks/api/handlers.ts
Due: prettier --write, eslint --fix

Add React Router package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Initialize basic index route
  src/App.tsx
  src/pages/home/page.tsx
  src/pages/routes.tsx
Due: prettier --write, eslint --fix

Add msw data and faker packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Outline mock db with msw-data
  src/mocks/api/db.ts
Due: prettier --write, eslint --fix

Add mock course preview listing route
  src/mocks/api/handlers.ts
Due: prettier --write, eslint --fix

Setup mock db seeding
  src/main.tsx
Due: prettier --write, eslint --fix

Add react-query
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add query client provider
  src/App.tsx
Due: prettier --write, eslint --fix

Add courseList query
  src/lib/queries/courseList.ts
Due: prettier --write, eslint --fix

Add basic course listing
  src/pages/courses/page.tsx
  src/pages/routes.tsx
Due: prettier --write, eslint --fix
