Repository ZTMowrer947/fullstack-coursedir: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Remove placeholder starter code
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add tailwind CSS
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/index.css
  src/main.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Add PostCSS nesting plugin
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: prettier --write, eslint --fix

Add Mock Service Worker and sql.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add vitest
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

Add basic test DB
  package.json
  pnpm-lock.yaml
  src/api-mock/db.ts
  src/api-mock/seeder_data.yaml
Due: prettier --write, eslint --fix

Setup mock service worker for dev environment
  package.json
  public/mockServiceWorker.js
  src/api-mock/browser.ts
  src/api-mock/handlers.ts
  src/api-mock/handlers/user.ts
  src/main.tsx
Due: prettier --write, eslint --fix

Add placeholder mock API routes
  src/api-mock/handlers/course.ts
  src/api-mock/handlers/user.ts
  src/config.ts
Due: prettier --write, eslint --fix

Add PostCSS import plugin
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: prettier --write, eslint --fix

Add Cousine and Work Sans fonts
  src/index.css
Due: stylelint --fix

Add react-router
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

Adjust navigation to auto-redirect to /courses
  src/router.tsx
Due: prettier --write, eslint --fix

Add very basic Layout
  src/components/Layout.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

Add basic Header
  src/components/Header.tsx
  src/components/Layout.tsx
Due: prettier --write, eslint --fix

Style header
  src/components/Header.module.css
  src/components/Header.tsx
  src/index.css
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Rewire App as main component
  src/App.tsx
  src/main.tsx
  src/pages/CourseListing.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

Setup full test environment
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/api-mock/server.ts
  testSetup.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

Disable vitest watch mode
  vite.config.ts
Due: prettier --write, eslint --fix

Add simple-import-sort ESLint plugin
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Relint code files with import sorting plugin
  src/App.test.tsx
  src/App.tsx
  src/api-mock/browser.ts
  src/api-mock/handlers/course.ts
  src/api-mock/handlers/user.ts
  src/api-mock/server.ts
  src/components/Header.tsx
  src/components/Layout.tsx
  src/main.tsx
  src/router.tsx
  testSetup.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Add and setup react-query
  package.json
  pnpm-lock.yaml
  src/App.tsx
Due: prettier --write, eslint --fix

Implement basic course list fetch
  src/api-mock/handlers/course.ts
  src/pages/CourseListing.tsx
  src/queries/getCourses.ts
Due: prettier --write, eslint --fix

Tweak Vite CSS to process dash-case as camelCase
  vite.config.ts
Due: prettier --write, eslint --fix

Tweak Header and Layout styling
  src/components/Header.module.css
  src/components/Layout.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add and style CourseLink component
  .stylelintrc.json
  src/components/CourseLink.module.css
  src/components/CourseLink.tsx
  src/pages/CourseListing.module.css
  src/pages/CourseListing.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Refactor data fetching to use router loader
  src/App.tsx
  src/pages/CourseListing.tsx
  src/queries/getCourses.ts
  src/queryClient.ts
  src/router.tsx
Due: prettier --write, eslint --fix

Set retry count for query
  src/queries/getCourses.ts
Due: prettier --write, eslint --fix

Adjust course module size for consistency
  src/components/CourseLink.module.css
  src/pages/CourseListing.module.css
Due: stylelint --fix

Tweak mock db to consistently find wasm file
  src/api-mock/db.ts
Due: prettier --write, eslint --fix

Add react-markdown
  package.json
  pnpm-lock.yaml
Due: prettier --write

Replace sql.js db with basic JS array "database"
  src/api-mock/db.ts
  src/api-mock/handlers/course.ts
  src/api-mock/mockDb.ts
  testSetup.ts
Due: prettier --write, eslint --fix

Add query for single course retrieval
  src/api-mock/handlers/course.ts
  src/api-mock/mockDb.ts
  src/queries/getCourse.ts
Due: prettier --write, eslint --fix

Adjust MSW preparation
  src/main.tsx
Due: prettier --write, eslint --fix

Add CourseDetail page
  src/buttons.module.css
  src/components/CourseLink.module.css
  src/components/CourseLink.tsx
  src/pages/CourseDetail.module.css
  src/pages/CourseDetail.tsx
  src/router.tsx
  src/type.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add react-hook-form
  package.json
  pnpm-lock.yaml
Due: prettier --write

Tweak prettierignore to not lint example markup
  .prettierignore
Due: none

Model signin page
  src/api-mock/handlers/user.ts
  src/api-mock/mockDb.ts
  src/form.module.css
  src/index.css
  src/pages/SignIn.module.css
  src/pages/SignIn.tsx
  src/queries/getUser.ts
  src/router.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Finish implementing user signin
  package.json
  pnpm-lock.yaml
  src/components/Header.module.css
  src/components/Header.tsx
  src/components/MainNav.module.css
  src/components/MainNav.tsx
  src/lib/authManager.ts
  src/pages/SignIn.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Slightly reorganize app routes
  src/router.tsx
Due: prettier --write, eslint --fix

Fix authManager bug
  src/components/Header.tsx
  src/lib/authManager.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{ts,js,tsx,jsx})
  eslint --fix: any of: *.{ts,js,tsx,jsx}
  stylelint --fix: any of: *.{css,scss}
